<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PerfCountersConfigurationSection" type="Qoollo.PerformanceCounters.Configuration.PerfCountersConfigurationSectionConfigClass, Qoollo.PerformanceCounters" allowExeDefinition="MachineToApplication" requirePermission="false"/>
  </configSections>

  <PerfCountersConfigurationSection xmlns="Qoollo.PerformanceCounters.Configuration.PerfCountersConfigurationSection_NS">
    <compositeCounters>
      <internalCounters />
      <winCounters instantiationMode="UseExistedIfPossible" />
      <netCounters serverAddress="127.0.0.1" serverPort="26115" distributionPeriodMs="1000" />
    </compositeCounters>
  </PerfCountersConfigurationSection>
</configuration>