<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PerfCountersConfigurationSection" type="Qoollo.PerformanceCounters.Configuration.PerfCountersConfigurationSectionConfigClass, Qoollo.PerformanceCounters" allowExeDefinition="MachineToApplication" requirePermission="false"/>
  </configSections>

  <PerfCountersConfigurationSection xmlns="Qoollo.PerformanceCounters.Configuration.PerfCountersConfigurationSection_NS">
    <!--<internalCounters />-->
    <compositeCounters>
      <internalCounters />
      <winCounters instantiationMode="UseExistedIfPossible" categoryNamePrefix="TestWinPrefix" />
      <!--<netCounters serverAddress="127.0.0.1" distributionPeriodMs="250" />-->
    <!--<graphiteCounters serverAddress="10.5.7.226" distributionPeriodMs="250" namePrefixFormatString="{MachineName}@{MachineAddress}.{ProcessName}"/>-->
    </compositeCounters>
  </PerfCountersConfigurationSection>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="CountersType" value="Windows" />
  </appSettings>
  
</configuration>